body {
  /*background-color: black;
  color: white;*/
}

a {
  color: orange;
}

#errors {
  color: red;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td, th {
  padding: 10px;
  text-align: left;
}

.time {
  float: right;
}

.commit {
  font-size: small;
}

.checksum {
  color: grey;
}
