body {
  /*background-color: black;
  color: white;*/
}

a {
  color: orange;
}

#errors {
  color: red;
}

/*table {
  margin-left: auto;
  margin-right: auto;
}

td, th {
  padding: 10px;
  text-align: left;
}*/

pre {
  white-space: pre-wrap;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

td.center {
  text-align: center;
}

.right {
  float: right;
}

.commit {
  font-size: small;
}

.checksum {
  color: grey;
}

/*.fa-spinner {
  margin-left: 4px;
}*/

ul {
  padding-left: 26px;
  margin: 0;
}

button {
  background-color:transparent;
  border:none;
}
