body {
  /*background-color: black;
  color: white;*/
}

a {
  color: orange;
}

#errors {
  color: red;
}

pre {
  white-space: pre-wrap;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

td.center {
  text-align: center;
}

.right {
  float: right;
}

.commit {
  font-size: small;
}

.checksum {
  color: grey;
}

ul {
  padding-left: 26px;
  margin: 0;
}

button {
  background-color:transparent;
  border:none;
}
