body {
  background-color: black;
  color: white;
}

a {
  color: orange;
}

#errors {
  color: red;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td, th {
  padding: 10px;
  text-align: left;
  /*vertical-align: top;*/
}

.time {
  float: right;
}

.commit {
  font-size: small;
}

.checksum {
  color: grey;
}

ul {
  padding-left: 26px;
  margin: 0;
}
